.main-signup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-sign-up {
  width: 522px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 565px;
  padding-bottom: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sign-up-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 315px;
  height: 89px;
  justify-content: center;
}

.arrow-left-sign-up {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 32px;
  height: 32px;
  top: 5.5rem;
  right: 13rem;
}

.arrow-left-sign-up:hover {
  background-color: lightgray;
  border-radius: 50%;
}

.sign-up-title h1 {
  font-size: 61px;
  width: 300px;
  height: 41px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 73.2px;
}

.join-img-signup {
  width: 100px;
  height: 100px;
  position: relative;
  right: 40%;
  top: 54px;
}

.input-sign-up {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  width: 385px;
  height: 40px;
}

.join-img-signup img {
  width: 100px;
  height: 100px;
}

.input-box-sign-up {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 422px;
  height: 279px;
  align-items: center;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

.input-sign-up img {
  position: absolute;
  right: 18px;
  width: 24px;
  height: 24px;
}

.remember-me-sign-up {
  display: flex;
  gap: 8px;
  height: 24px;
  align-items: center;
}

.remember-me-sign-up h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  color: #a8a8a8;
}

.remember-me-sign-up a {
  color: #29abe2;
  font-size: 16px;
  line-height: 19.2px;
  text-decoration: none;
}

.end-sign-up {
  border: none;
}

.btn-sign-up {
  width: 126px;
  height: 55px;
  color: white;
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  margin-bottom: 33px;
  margin-top: 14px;
}

.btn-sign-up:hover {
  background-color: #29abe2;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: 70ms all;
}

.btn-sign-up:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message-sign-up.show {
  visibility: visible;
  position: relative;
  right: 4.8rem;
  bottom: 0.6rem;
}

.error-message-sign-up {
  color: red;
  font-size: 12px;
  visibility: hidden;
  font-family: "Inter", sans-serif;
}

.img-password {
  cursor: pointer;
}

.success-message {
  display: flex;
  border: none;
  position: fixed;
  top: 36rem;
  left: 50%;
  border-radius: 15px;
  padding: 10px 30px;
  background-color: #2a3647;
  transform: translate(-50%, 0);
  z-index: 1000;
  animation: moveToUp 2s ease forwards;
  opacity: 0;
}

@keyframes moveToUp {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -40vh);
  }
}

.success-message h2 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  line-height: 25.2px;
  font-weight: 400;
}

.success-message.show {
  display: flex;
  opacity: 1;
}

.d-none {
  display: none;
}

@media (max-width: 879px) and (min-width: 600px) {
  .main-signup {
    gap: 0;
    margin-top: 3rem;
  }
  .join-img-signup {
    top: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 599px) and (min-width: 540px) {
  .container-sign-up {
    margin-top: 5rem;
  }

  .join-img-signup {
    right: 12rem;
  }
}

@media (max-width: 539px) and (min-width: 460px) {
  .container-sign-up {
    width: 460px;
  }

  .sign-up-title {
    width: 250px;
  }

  .sign-up-title h1 {
    font-size: 41px;
  }

  .arrow-left-sign-up {
    right: 11.5rem;
  }

  .btn-sign-up {
    width: 180px;
    height: 51px;
    padding: 4px;
    font-size: 16px;
    margin-top: 36px;
  }

  .vector {
    width: 7rem;
  }

  .join-img-signup {
    top: unset;
    bottom: 2rem;
    right: 32%;
    width: 64px;
    height: 78px;
  }

  .join-img-signup img {
    width: 64px;
    height: 78px;
  }

  .main-signup {
    margin-top: 10rem;
  }
}

@media (max-width: 459px) and (min-width: 400px) {
  .container-sign-up {
    width: 410px;
    height: 595px;
  }

  .remember-me-sign-up {
    width: 231px;
    justify-content: center;
    left: 5rem;
    top: 0.2rem;
  }

  .input-box-sign-up {
    width: 364px;
  }

  .arrow-left-sign-up {
    right: 9.2rem;
  }

  .sign-up-title {
    height: 6rem;
  }

  .sign-up-title h1 {
    font-size: 47px;
  }

  .vector {
    width: 7rem;
  }

  .btn-sign-up {
    width: 180px;
    height: 51px;
    padding: 4px;
    font-size: 16px;
    margin-top: 36px;
  }

  .success-message {
    width: 247px;
    font-size: 20px;
  }

  .join-img-signup {
    width: 100px;
    height: 100px;
    position: relative;
    right: 8rem;
    top: 0;
  }

  .join-img-signup img {
    width: 64px;
    height: 78px;
  }

  .main-signup {
    margin-top: 2rem;
  }
}

@media (max-width: 399px) {
  .container-sign-up {
    width: 373px;
  }

  .input-box-sign-up {
    width: 368px;
  }

  .input-sign-up {
    width: 355px;
  }

  .arrow-left-sign-up {
    right: 8.2rem;
  }

  .sign-up-title h1 {
    font-size: 47px;
  }

  .vector {
    width: 7rem;
  }

  .btn-sign-up {
    width: 180px;
    height: 51px;
    padding: 4px;
    font-size: 16px;
    margin-top: 36px;
  }

  .success-message {
    width: 247px;
    font-size: 20px;
  }

  .join-img-signup {
    width: 100px;
    height: 100px;
    position: relative;
    right: 8rem;
    top: 0;
  }

  .join-img-signup img {
    width: 64px;
    height: 78px;
  }

  .main-signup {
    margin-top: 2rem;
  }
}

@media (max-width: 360px) {
  .join-img-signup {
    right: 6rem;
    top: 0;
  }

  .container-sign-up {
    width: auto;
  }

  .input-box-sign-up {
    width: 290px;
  }

  .input-sign-up {
    width: 288px;
  }
}

@media (max-width: 359px) and (min-width: 317px) {
  .container-sign-up {
    width: 336px;
  }

  .input-box-sign-up {
    width: 290px;
  }

  .input-sign-up {
    width: 288px;
  }

  .arrow-left-sign-up {
    right: 8.2rem;
  }

  .sign-up-title h1 {
    font-size: 47px;
  }

  .sign-up-title img {
    right: 8.2rem;
  }

  .btn-sign-up {
    width: 180px;
    height: 51px;
    padding: 4px;
    font-size: 16px;
    margin-top: 36px;
  }

  .success-message {
    width: 247px;
    font-size: 20px;
  }

  .join-img-signup {
    width: 100px;
    height: 100px;
    position: relative;
    right: 6rem;
    top: 0;
  }

  .join-img-signup img {
    width: 64px;
    height: 78px;
  }

  .main-signup {
    margin-top: 2rem;
  }
}